name: release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@stable

      - name: install nsis
        run: |
          iwr -useb get.scoop.sh -outfile 'install.ps1'
          .\install.ps1 -RunAsAdmin
          scoop update
          scoop bucket add extras
          scoop install nsis
          echo "$env:USERPROFILE\scoop\apps\nsis\current" >> $env:GITHUB_PATH

      - run: ./.scripts/build.ps1
      - run: ./.scripts/create-installer.ps1

      - name: upload windows artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-artifacts
          path: |
            dist/*.exe

  release-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@stable
      
      - name: install create-dmg
        run: |
          brew install create-dmg

      - run: ./.scripts/build.sh
      - run: ./.scripts/create-app.sh
      - run: ./.scripts/create-dmg.sh

      - name: upload macos artifacts
        uses: actions/upload-artifact@v4
        with:
          name: macos-artifacts
          path: |
            dist/*.dmg

  release:
    needs: [release-windows, release-macos]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: download windows artifacts
        uses: actions/download-artifact@v4
        with:
          name: windows-artifacts
          path: dist/

      - name: download macos artifacts
        uses: actions/download-artifact@v4
        with:
          name: macos-artifacts
          path: dist/
      
      - name: generate release notes
        run: ./.scripts/generate-release-notes.sh

      - name: release
        uses: softprops/action-gh-release@v2
        with:
          body_path: RELEASE_NOTES.md
          files: dist/*